.nav_enlace{
    display: inline-block;
    background: salmon;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}

.nav_enlace:hover{
    background: rosybrown;
}
nav{
    background-color: burlywood;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}   
.nav_boton{
    background: salmon;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}

@media (max-width: 600px) {
    nav {
      background: lightgreen;
      flex-direction: column;
    }
    .nav_enlace{
        margin: 10px 0;
    }
    .nav_boton{
        display: inline-block;
    }    
    .hide_href{
        display: none;
    }
  }